header h2 {
	background-image: url(../IMG/Header7.png);
	width: 100%;
	position: contain;
	height: 45rem;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: -39.5rem;
}

header p {
	color: white;
	text-align: left;
	font-size: 4.7rem;
	font-weight: 900;
	width: 94%;
	border: solid;
	border-width: 1.5rem;
	padding-top: 8.5%;
	padding-left: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 11rem;
}

p span {

}

blockquote { 
	width: 100%;
	height: 27rem;
	margin-bottom: 1.2rem;
	color: #9e97a4;
	font-size: 2rem;
	padding-top: 4rem;
}

a {
	text-decoration: none;
}

a p {
	transition: border 0.5s ease;
	border: solid;
	color: #9e97a4;
	border-color: white;
	border-width: 0.8rem;
	width: 100%;
	padding: 0.8rem;
	margin-bottom: 8rem;
	font-size: 1.6rem;
	clear: both;
}

a p:hover {
	border-color: #5d4e67;
}

#facebook, #soundcloud, #youtube, blockquote {
	border: solid;
	border-color: white;
	border-width: 1.2rem;
	padding: 1.2rem;
	margin-bottom: 3rem;
}

#youtube {
	height: 30rem;
}

.col {
	width: 94%;
}