header {
	background-image: url(../IMG/Header5.png);
	width:100%;
	height: 55rem;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 6rem;
}

header p {
	color: white;
	text-align: left;
	font-size: 5.7rem;
	font-weight: 900;
	height: 42.5rem;
	width: 103rem;
	border: solid;
	border-width: 1.5rem;
	padding-top: 16rem;
	position: absolute;
  top: 20rem;
  left: 33rem;
  padding-left: 5rem;
}

blockquote { 
	width: 27rem;
	height: 27rem;
	margin-bottom: 1.2rem;
	color: #9e97a4;
	font-size: 1.6rem;
	padding-top: 4rem;
}

a {
	text-decoration: none;
}

a p {
	border: solid;
	color: #9e97a4;
	border-color: white;
	border-width: 0.8rem;
	margin-top: 85rem;
	height: 6rem;
	width: 102rem;
	padding-top: 1.3rem;
	margin-bottom: 8rem;
	font-size: 1.6rem;
	clear: both;
}

a p:hover {
	border-color: #5d4e67;
}

.colleft, .colright {
	border: solid;
	border-color: white;
	border-width: 1.2rem;
	padding: 1.2rem;
}

.colleft {
	width: 69rem;
	margin-bottom: 1.2rem;
	float: left;
}

.colright {
	width: 32rem;
	margin-bottom: 1.2rem;
	float: right;
}

.col{
	width: 102rem;
}