header {
	margin-top: 6.5rem;
	width: 100%;
}

header h2 {
	font: normal normal bold 6.4rem/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
	color: #5D4E67;
	padding: 1.2rem;
	border: solid;
	border-color: white;
	border-width: 1.2rem;
}

a {
	text-decoration: none;
}

a p {
	transition: border 0.5s ease;
	border: solid;
	color: #9e97a4;
	border-color: white;
	border-width: 0.8rem;
	height: 6rem;
	width: 100%;
	margin-bottom: 8rem;
	padding-top: 1.3rem;
	font-size: 1.6rem;
}


p:hover {
	border-color: #5d4e67;
}

h3 {
	font: normal normal bold 50px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
	color: #5D4E67;
}

.song {
	display: inline-block;
	border-bottom: solid;
	border-color: white;
	border-width:1.2rem;
	padding: 7rem 0rem 7rem 0rem;
	width: 100%;
}

.song:nth-child(6) {
	border-bottom: none;
}

.colleft, .colright {
	width: 100%;
}

iframe {
	width: 100%;
}

.col {
	width: 94%;
}

/*	=============
	Media Queries
	=============	*/

	@media (min-width: 55.65em) {

		header {
			border: solid;
			border-color: white;
			border-width: 1.2rem;
			padding: 1.2rem;
			margin-bottom: 6rem;
			width: 89rem;
		}	

		header h2 {
			color: #5D4E67;
			padding: 0rem;
			border: none;
			padding-top: 25rem;
			float: left;
			margin-top: -12rem;
			margin-left: 6.5rem;
		}

		header p {
			background-image: url(../IMG/MusicHeader3.png);
			width: 57rem;
			height: 38rem;
			background-repeat: no-repeat;
			background-position: center;
			margin-left: 27rem;
		}

		a p {
			width: 89rem;
		}

		.colleft, .colright {
			width: 44.5rem;
			float: left;
		}

		.colleft {
			text-align: left;
		}

		.colright {
			text-align: right;
		}
		.col {
			width: 89rem;
		}

		iframe {
			width: inherit;
		}
		
	}